*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
    display: block;
}
div{
    display: block;
    unicode-bidi: isolate   ;
}
img{
    vertical-align: middle;
    border: 0;
    overflow: clip;
    overflow-clip-margin: content-box;
}
.container{
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
a {
    text-decoration: none;
    color: #337ab3;
    background-color: transparent;
}
.container::before{
    content: " ";
    display: table;
}
*::before{
    box-sizing: border-box;
}
.row::before{
    content: " ";
    display: table;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
form {
    display: block;
    unicode-bidi: isolate;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}